.paleta{
    color: rgb(41, 46, 48);
    color: rgb(70, 130, 182);
    color: rgb(127, 163, 201);
    color: rgb(243, 229, 240);

    color: rgb(0, 183, 255);
}

.home-centradito{
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-container{
    /* border: 1px solid green; */
    height: calc(100dvh - 105px);
    width: 100%;
    margin-top: 60px;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 3px;
}

.home-map-container{
    border: 2px solid rgb(70, 130, 182);
    border-radius: 5px;
    height: 37%;
    flex-shrink: 0;

    /* overflow: hidden; */
}

.barra-busqueda-home{
    width: 100%;
    height: 6%;
    background-color: rgb(70, 130, 182);
    min-height: 5%;
    border-radius: 3px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra-categorias{
    width: 100%;
    height: 6%;
    background-color: rgb(20,20,20);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 5%;
    gap: 8px;
    border-radius: 3px;
}

.barra-busqueda-input{
    background-color: rgb(20, 20, 20);
    border-radius: 3px;
    border: none;
    padding: 3px 10px;
    font-size: .7rem;
    font-weight: 600;
    color: rgb(127, 163, 201);
}

.barra-busqueda-numbers-container{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.barra-busqueda-numbers-input{
    width: 35%;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(20, 20, 20);
    border: none;
    color: rgb(0, 183, 255);
    margin: 0;
    padding: 0;
    border-radius: 3px;

}

.busqueda-numbers-labels{
    font-weight: 500;
    font-size: .7rem;
    color: white;
    margin: 0;
    padding: 0;
}

.barra-busqueda-parejita{
    /* border: 1px solid blue; */
    justify-content: flex-end;
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.home-restaurants-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
    height: calc(50dvh - 60px);
    overflow: auto;
}

.logoHome-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: absolute;
    top: 20px;
    margin-left: 10px;
}

.logoHome-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.categoria-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.categoria-checker-input{
    position: absolute;
    width: 100%;
    opacity: .0;
}

.categoria-checked-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    background-color: rgb(41,46,48);
    border: 1px solid rgb(0, 183, 255);
    color: rgb(127, 163, 201);
    padding: 0 10px;
    height: 20px;
    border-radius: 3px;
}

.categoria-checker-input:checked + .categoria-checked-label{
    color: rgb(41, 46, 48);
    background-color: #F1C40F;
    border: 1px solid white;
    font-weight: 800;
}

.sin-resultados{
    /* font-size: .9rem; */
    text-align: center;
    padding: 10px;
    color: rgb(127, 163, 201);
    font-weight: 400;
    font-style: italic;
}

@media (width > 600px){
    .home-container{
        padding: 10px 20px;
    }

    .home-map-container{
        height: 37%;
    }
    
    .barra-busqueda-home{
        height: 6%;
        min-height: 5%;
    }
    
    .barra-categorias{
        height: 8%;
        min-height: 7%;
    }
}