.paleta{
    color: rgb(41, 46, 48);
    color: rgb(70, 130, 182);
    color: rgb(127, 163, 201);
    color: rgb(243, 229, 240);

    color: rgb(0, 183, 255);
}

.home-centradito{
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-container{
    /* border: 1px solid green; */
    height: calc(100vh - 105px);
    width: 100%;
    margin-top: 60px;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2px;
}

.home-map-container{
    border: 2px solid rgb(70, 130, 182);
    border-radius: 5px;
    height: 50%;
    flex-shrink: 0;

    /* overflow: hidden; */
}

.home-restaurants-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
    height: calc(50vh - 60px);
    overflow: auto;
}
