.centradito{
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar-container{
    display: flex;
    /* border: 1px white solid; */
    max-width: 1200px;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    justify-content: flex-end;
    height: 60px;
    position: fixed;
    top: 0;
}

.navbar-logo-container{
    height: 30px;
    aspect-ratio: 1/1;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo-profile{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 100%;
}