.paleta{
    color: rgb(41, 46, 48);
    color: rgb(70, 130, 182);
    color: rgb(127, 163, 201);
    color: rgb(243, 229, 240);

    color: rgb(0, 183, 255);
}

.profile-centradito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
    height: calc(100dvh - 105px);
    margin-top: 60px;
    padding: 30px 20px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(70, 130, 182);
    border-radius: 5px;
    width: 100%;
    /* height: 100%; */
    padding: 50px 10px 70px;
    gap:15px;
    max-width: 550px;
    position: relative;
}

.profile-marco-image{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 100%;
}

.profile-row{
    display: flex;
    gap: 15px;
}

.profile-cerrar-sesion{
    position: absolute;
    font-size: .7rem;
    font-weight: 600;
    color: rgb(0, 183, 255);
    bottom: 10px;
}

.eliminar-cuenta{
    color: rgba(0, 183, 255, .4);
    position: absolute;
    right: 5px;
    top: -15px;
    font-size: .5rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    transition: all .2s ease;
}

.eliminar-cuenta:hover{
    color: rgba(0, 183, 255, 1);
    font-weight: 500;

}

.botonera-eliminar-container{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: all .5s ease;
}

.marco-eliminar{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: rgb(127, 163, 201);
    background-color: rgb(41, 46, 48);
    border: 1px solid rgb(70, 130, 182);
    border-radius: 4px;
    gap: 10px;
}

.botonera-eliminar{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.reg-boton-cancelar{
    background-color: rgb(127, 163, 201);
    color: rgb(41, 46, 48);
}

.texto-warning-delete{
    font-weight: 400;
    font-style: italic;
}