.paleta{
    color: rgb(41, 46, 48);
    color: rgb(70, 130, 182);
    color: rgb(127, 163, 201);
    color: rgb(243, 229, 240);
    color: #F1C40F;
}

.delete-confirm{
    width: 100%;
    height: calc(100dvh - 105px);
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    padding: 40px;
    transition: all .3s ease;
}

.marco-delete-confirm{
    background-color: rgb(41, 46, 48);
    padding: 20px;
    border: 2px solid rgb(127, 163, 201);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: rgb(127, 163, 201);
}

.delete-confirm-botonera{
    display: flex;
    gap: 10px;
}

.delete-confirm-boton{
    padding: 3px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

.delete-confirm-eliminar{
    background-color: rgb(70, 130, 182);
    color: white;
}

.delete-confirm-cancelar{
    background-color: rgb(127, 163, 201);
}

.reg-centradito{
    display: flex;
    flex-direction: column;
    /* border: 1px green solid; */
    height: calc(100dvh - 105px);
    margin-top: 60px;
    /* justify-content: space-evenly; */
    align-items: center;
    /* gap: 20px; */
    width: 100%;
    padding: 30px 10px;
}


.reg-cajon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(70, 130, 182);
    width: 80%;
    padding: 40px 30px;
    border-radius: 5px;
    max-width: 550px;
    margin-bottom: 10px;
    position: relative;
}

.reg-image{
    width: 70%;
    max-width: 450px;
    margin-bottom: 30px;
    /* object-fit: contain; */
    /* border: 1px solid green; */
}

.reg-pareja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 100%;
    color: rgb(243, 229, 240);
}

.reg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.reg-boton{
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    max-width: 250px;
    background-color: rgb(70, 130, 182);
    border: none;
    border-radius: 5px;
    color: rgb(243, 229, 240);
    font-weight: 600;
}

.reg-input{
    padding: 5px 15px;
    width: 100%;
    max-width: 250px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    color: rgb(127, 163, 201);
    font-weight: 400;
}

.reg-input:focus{
    outline: rgb(0, 183, 255) 1px solid;

}

.reg-swap{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(243, 229, 240);
    font-style: italic;
}

.reg-swap-text{
    font-size: .7rem;
    font-weight: 300;
}

.reg-swap-boton{
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: rgb(127, 163, 201);
}

.reg-warning{
    transition: all .4s ease;
    position: absolute;
    background-color:#F1C40F;
    color: rgb(20, 20, 20);
    text-align: center;
    width: 100%;
    top: 0;
    padding: 3px;
    font-weight: 600;
}

.user-profile-row{
    display: flex;
    gap: 5px;
    background-color: rgba(20, 20, 20, 0.55);
    padding: 3px 15px;
    border-bottom: 1px solid rgb(0, 183, 255);
    color: rgb(70, 130, 182);
    position: relative;
    border-radius: 3px;
    font-size: .8rem;
    width: 100%;
}

.user-profile-row span{
    font-size: .65rem;
}

.boton-follow-user{
    background-color: rgb(70, 130, 182);
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}

.user-profile-row-sep{
    display: flex;
    gap: 5px;
    width: 100%;
}

.boton-follow-container{
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-profile-label-info{
    display: flex;
    align-items: baseline;
    gap: 5px;
    width: 100%;
    white-space: nowrap;
    /* border: 1px solid pink; */

}

.user-profile-label-info > p{
    font-size: .7rem;
    color: rgb(70, 130, 182);
    line-height: .5rem;
}

.cajon-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: flex-start; */
    gap: 20px;
}

.boton-clasico{
    width: 80%;
    max-width: 350px;
    background-color: rgb(70, 130, 182);
    padding: 3px 15px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.profile-follows-row{
    display: flex;
    gap: 15px;
    /* background-color: rgba(20, 20, 20, 0.55); */
    padding: 3px 20px;
    /* border-bottom: 1px solid rgb(0, 183, 255); */
    color: rgb(70, 130, 182);
    border-radius: 3px;
    font-size: .8rem;
    width: 80%;
    justify-content: center;
}