@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

button{
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 46, 48);
  overflow: hidden;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.paleta{
  color: rgb(41, 46, 48);
  color: rgb(70, 130, 182);
  color: rgb(127, 163, 201);
  color: rgb(243, 229, 240);

  color: rgb(0, 183, 255);
}



/* aspecto del scroll */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(20, 20, 20); /* Color del fondo del track */
}

::-webkit-scrollbar-thumb {
  background: rgb(70, 130, 182); /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 183, 255); /* Color al pasar el mouse */
}

/* Para Firefox 
{
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
*/